body {
    background-color: white;
}

.tudo {
    position: relative;
    top: 50px;
    left: -90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 50%;
}

.cartao {
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 40vh;
    align-items: center;
    box-shadow: 10px 10px 20px #9EA1A2;
    box-shadow: -10px 10px 20px #9EA1A2;
}

.login-wrapper {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 80vh;
    height: 60vh;
    padding: 3%;
    box-shadow: 10px 10px 10px #9EA1A2;
    box-shadow: -10px 10px 10px #9EA1A2;
    background-color: #007881;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login {
    margin-right: 10%;
}

.form-group {
    position: center;
    padding: 4% 4% 0 4%;
}

.form-group2 {
    position: center;
    padding: 4%;
}

.labellogin {
    width: 120px;
}

.btnlogin {
    padding: 2%;
    background-color: #eee;
    border-radius: 25px;
    border: 1px solid #eee;
}

#linha {
    text-decoration: none;
}

#linha:hover {
    color: #eee;
}

.btnlogin:hover {
    padding: 2%;
    background-color: #007881;
    border-radius: 25px;
    border: 1px solid #eee;
    transition: all 0.7s ease-in;
}